Tag: <%= tagname %>

<% if articles %>
  <% articles.each do |article| %>
    <li><a href="<%= article.url %>"><%= article.title %></a> <time><%= article.date.strftime('%b %e') %></time></li>
  <% end %>
<% end %>
